Camelot==12.6.29
certifi==2024.7.4
chardet==5.2.0
charset-normalizer==3.3.2
DateTime==5.5
decorator==5.1.1
Elixir==0.7.1
idna==3.7
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==2.0.1
pandas==2.2.2
pbr==6.0.0
pip-autoremove==0.10.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
setuptools==71.1.0
six==1.16.0
SQLAlchemy==0.7.10
sqlalchemy-migrate==0.11.0
sqlparse==0.5.1
Tempita==0.5.2
tzdata==2024.1
urllib3==2.2.2
xlrd==0.7.1
xlwt==0.7.2
zope.interface==6.4.post2
